# These are the environment variables for the AWS resources
# Replace these dummy values with your own values before running the code and rename this file to .env

DATA_BUCKET = 'your-aws-backet-name'
SUBFOLDER = 'your-bucket-subfolder'
DATASET = 'orders_with_predicted_value.csv'
ROLE = "arn:aws:iam::YourAccountID:role/SageMakerExecutionRole"
REGION = "eu-central-1"

MODEL_NAME = "order-approval-model"
ENDPOINT_CONFIG_NAME = f"{MODEL_NAME}-config"